body {
    background-color: rgb(22, 22, 22);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #eee;
}

.game-content {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.rest-of-site {
    /* Style for the rest of the site content */
}
