body {
    background-color: rgb(22, 22, 22);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: row; /* Align content side by side */
    justify-content: flex-start; /* Align content to the left */
    align-items: flex-start;
    min-height: 100vh;
}

.sidebar {
    width: 250px; /* Adjust the width as needed */
    background-color: #333;
    overflow-y: auto; /* Add a scrollbar for games */
    height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 18px; /* Adjust the font size for game links */
    display: block; /* Display game links as block elements for better spacing */
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #eee;
}

.game-content {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.rest-of-site {
    /* Style for the rest of the site content */
}
